{% extends 'app.html' %}
{% load static %}
{% block content %}  
{% include "navbar.html" %}
<!-- Main contents -->
<main>
  <div class="container-fluid text-white">
  <div class="row"> <div class="col"> <div class="position-relative"><img class="img-thumb mt-4" width="100%" src=" {% static "images/sprt26.jpg" %} " alt=""> 
  <div class="position-absolute top-50 start-50 translate-middle">
    <h4>A City </h4>
      <h2>BEYOND EDUCATION</h2> 
      <h6>journey at Education City can take you anywhere. Whether it's a new sport or a new language, an art tour, or a bite to eat, Education City offers a new and exciting experience every single visit</h6>
  </div></div></div></div></div> 
    <!-- event box  -->
    <div class="event_box m-4">
      <div class='container-fluid'>
        <div class="row">
          <div class="col-12 col-md-4 mb-3">
            <div class="box" id="box1"><a class="text-white" href="#">Attend an Event</a></div>
          </div>
          <div class="col-12  col-md-4 mb-3">
            <div class="box" id="box2" ><class="text-white"a  href="#">Take a Class</a></div>
          </div>
          <div class="col-12 col-md-4 mb-3">
            <div class="box" id="box3" ><a class="text-white" href="#">Book a Facility</a></div>
          </div>
        </div>
      </div>
      </div>
<!--Whats happening -->
<div class='container pt-4'>
  <div class='row '>
    <div class="col-md-4">
      <h2>What's Happening Now</h2>
    </div>
    <div class='col-md-4 happens'>
      <p class='happens-p '>
       Browse current activities happening in Education City.</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row ">
    <div class="container">
      <div id="carouselExampleControls" class="carousel carousel-dark " data-bs-ride="carousel">     
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                  
                  
                      <div class="carousel-inner ">
                          <div class="carousel-item active">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt26.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                    <h5>Card Title</h5>
                                    <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt10.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 2</h5>
                                      
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt8.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 3</h5>
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt11.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 4</h5>
                                      
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt13.webp" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 5</h5>
                                      
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt15.webp" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 6</h5>
                                     
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                 
              </div>
         
      
  </div>

  </div>
  <!-- end of row-->

</div>
<!-- End of whats happening -->
<!-- Featured Activities -->
<div class="bg-light pt-4 pb-4">
  <div class='container mt-5'>
  <div class='row'>
    <div class="col-md-4">
      <h2>Featured Activities</h2>
    </div>
    <div class='col-md-4 happens'>
      <p class='happens-p '>
        Check out our featured activities by category.</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="btn btn-primary rounded-pill m-2"><span>Sports And Fitness</span></div>
  <div class="row ">
    <div class="container">
      <div id="carouselControls" class="carousel carousel-dark " data-bs-ride="carousel">     
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouseControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                  
                  
                      <div class="carousel-inner ">
                          <div class="carousel-item active">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt26.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                    <h5>Card Title</h5>
                                    <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt10.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 2</h5>
                                      
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt8.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 3</h5>
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt11.jpg" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 4</h5>
                                      
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt13.webp" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 5</h5>
                                      
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="card">
                                  <div class="img-wrapper"><img src="{% static "images/sprt15.webp" %}" class="d-block w-100" alt="{% static "images/sprt11.jpg" %}"> </div>
                                  <div class="card-body custom-card-body">
                                      <h5 class="card-title">Card title 6</h5>
                                     
                                      <p class="card-text">"Some dummy text you don't need to read. "</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                 
              </div>
         
      
  </div>

  </div>
  <!-- end of row-->

</div>
</div>
<!--  end of Featured Activities -->
<!-- Membership -->
<div class="pt-4 pb-4">
  <div class='container mt-5'>
  <div class='row'>
    <div class="col-md-4 ">
      <h2>Explore Our Memberships</h2>
    </div>
    <div class="col-md-8">
    </div>
  </div>
<div class="membership">
  <div class="container-fluid">
    <div class="row mem-container">
      <div class="col-md-3 col-lg-3 mb-2">
        <div id="memb1" class="mem-box "><a class="text-white" href="#">Single<br> Membership</a> </div>
      </div>
      <div class="col-md-3 col-lg-3 mb-2">
        <div id="memb2" class="mem-box"><a class="text-white"   href="#">Family<br> Membership</a></div>
      </div>
      <div class="col-md-6 colo-lg-3 mb-2 ">
        <div id="memb3" class="mem-box"><a class="text-white" href="#">Edu City [Family] <br> - 3 Months [Offer]</a>  </div>
      </div>
    </div>
  </div>
</div>
<!-- end of Membership -->              
</main>

<!-- Footer -->
{% include "footer.html" %}
<script>
  $(document).ready(function () {
    var multipleCardCarousel = document.querySelector(
    "#carouselExampleControls"
  );
  if (window.matchMedia("(min-width: 576px)").matches) {
    var carousel = new bootstrap.Carousel(multipleCardCarousel, {
      interval: false,
      wrap: false
    });
    var carouselWidth = $(".carousel-inner")[0].scrollWidth;
    var cardWidth = $(".carousel-item").width();
    var scrollPosition = 0;
    $("#carouselExampleControls .carousel-control-next").on("click", function () {
      if (scrollPosition < carouselWidth - cardWidth * 3) {
        scrollPosition += cardWidth;
        $("#carouselExampleControls .carousel-inner").animate(
          { scrollLeft: scrollPosition },
          600
        );
      }
    });
    $("#carouselExampleControls .carousel-control-prev").on("click", function () {
      if (scrollPosition > 1) {
        scrollPosition -= cardWidth;
        $("#carouselExampleControls .carousel-inner").animate(
          { scrollLeft: scrollPosition },
          600
        );
      }
    });
  } else {
    $(multipleCardCarousel).addClass("slide");
  }


  var multipleCardCarousel = document.querySelector(
    "#carouselControls"
  );
  if (window.matchMedia("(min-width: 576px)").matches) {
    var carousel = new bootstrap.Carousel(multipleCardCarousel, {
      interval: false,
      wrap: false
    });
    var carouselWidth = $(".carousel-inner")[0].scrollWidth;
    var cardWidth = $(".carousel-item").width();
    var scrollPosition = 0;
    $("#carouselControls .carousel-control-next").on("click", function () {
      if (scrollPosition < carouselWidth - cardWidth * 3) {
        scrollPosition += cardWidth;
        $("#carouselControls .carousel-inner").animate(
          { scrollLeft: scrollPosition },
          600
        );
      }
    });
    $("#carouselControls .carousel-control-prev").on("click", function () {
      if (scrollPosition > 1) {
        scrollPosition -= cardWidth;
        $("#carouselControls .carousel-inner").animate(
          { scrollLeft: scrollPosition },
          600
        );
      }
    });
  } else {
    $(multipleCardCarousel).addClass("slide");
  }
});
  
</script>

    {% endblock %}