{% extends "app.html" %}
{% load static %}
{% block content %}
<footer class="footer footerNew  text-white" style='background-img:url {% static "images/footer-img.png" %};'>
  
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-6 col-xl-6 p-1'>
          <img class='footer-logo' src=" {% static "images/edulogo.png" %} " alt="logo" width="50%">
          <p class='text-white center-align'>For any inquiries, you can contact us at 1234567890 or email us at info@educity.com</p>
        </div>
        <div class='col-md-6 col-xl-6 p-5'>
          <div class='row'>
            <div class='col-sm-6 col-md-6 col-xl-6 '>
              <ul>
                <li><a class="text-white" href="{% url "about_us" %}">About Us</a></li>
                <li><a class="text-white" href=" {% url "offerings" %} ">Offerings</a></li>
                <li><a class="text-white" href=" {% url "membership" %} ">Membership</a></li>
              </ul>
            </div>
            <div class='col-sm-6 col-md-6 col-xl-6'>
                
              <ul>
                <li><a class="text-white" href="#">Contact Us</a></li>
                <li><a class="text-white" href="#">FAQs</a></li>
                <li><a class="text-white" href="#">Terms & Conditions</a></li>
                <li><a class="text-white" href="#">Privacy & Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
  
    </div>
      
  </footer>
  {% endblock content %}